<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<!-- stylesheets -->
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link type="text/css" href="/stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />	
    
	<!-- externals js -->
    <script src="/javascripts/external/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/javascripts/external/jquery.tmpl.js" type="text/javascript"></script>
	<script src="/javascripts/external/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
	<script src="/javascripts/external/jquery.i18n.js" type="text/javascript"></script>

	<!-- i18n -->
    <script src="/javascripts/common/i18n.js" type="text/javascript"></script>
	<script type="text/javascript">
		setLanguage('<%= lang %>');	
	</script>

	<!-- code behind -->
    <script src="/javascripts/view/index.js" type="text/javascript"></script>
  </head>
  <body class="ui-widget">
    <h1 id="hTitle"><%= title %></h1>
	<p id="pLanguageSelector">
		<%= text.selectLanguage %>:
		<select id="selectLanguageSelector">
			<option value="en" <%= (lang == 'en')?"selected='selected'":'' %> >
				<%= text.english %>
			</option>
			<option value="es" <%= (lang == 'es')?"selected='selected'":'' %> >
				<%= text.spanish %>
			</option>
		</select>
	</p>
	
	<script id="tmplUsersTr" type="text/x-jQuery-tmpl">
   		<tr>
      		<td><a>${id}</a></td>
    		<td>${name}</td>
    		<td><a></a></td>
		</tr>
	</script>	

	<script id="tmplUsersTable" type="text/x-jQuery-tmpl">
		<table id="tblUsers" class="ui-widget-content">
			<thead>
				<tr class="ui-widget-header">
					<th>${id}</th>
					<th>${name}</th>
					<th>${operation}</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</script>	

	<div id="divUsers">
	</div>

	<p id="divAddUser">
		<input id="btnAddUser" type="button"/>
	</p>
	
	<div id="divUserForm">
		<p id="pUserFormError"></p>
		<form>
			<fieldset>
				<label id="lblUserFormName"></label>
				<input type="text" id="inptUserFormName" class="text ui-widget-content ui-corner-all" />
			</fieldset>
		</form>
	</div>

	<div id="divDeleteUserConfirm">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><label id="lblDeleteUserConfirm"></label></p>
	</div>	
	
  </body>
</html>
